*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    width: 70%;
    padding-top:30px;
    padding-bottom: 30px;
    background-color: gray;
    display: flex;
    align-items: center;
}
.pokemon-card{
    width: 30%;
    height: 120px;
    background-color: lightgray;
}
.pokemon-details{
    
}